@{
    ViewBag.Title = "About Us";
}
<h3>@ViewBag.Message</h3>

<p>This is a pair-programming effort by Justing Scroggins and Michael Milroy.</p>
<p>We are both currently working to become full-time, full-stack developers with the help of Eleven Fifty Academy. We have built this application from the ground up- beginning with a code-first approach to the database
    all the way through to the front-end you are currently experiencing. This is our first attempt at a full-stack project; we have learned an enormous amount throughout this project, regarding the lifestyle we seek.</p>

<h3>Some of the skills we have solidified throughout this project</h3>
<ul>
    <li>.Net Framework</li>
    <li>Bootstrap 4</li>
    <li>Entity Framework 6</li>
    <li>Git and Github</li>
    <li>Identity Framework</li>
    <li>LINQ</li>
    <li>MVC 5</li>
    <li>N-tier Architecture</li>
    <li>Nuget Package Manager</li>
    <li>Postman</li>
    <li>Razor Pages</li>
    <li>RESTful APIs</li>
    <li>SQL Server Express LocalDB</li>
    <li>Swagger</li>
</ul>
