@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Message</h3>

<address>
    Indianapolis, Indiana<br />
</address>

<body>
    <div class="networkInfo" id="milroy" style="display:inline-block; margin-right: 5rem;">
        <img src="~/Assets/MilroyHeadshot.jpg" alt="Michael Milroy" style="height: 20rem; width: 18rem; border: thin solid black;" />
        <div class="socialMedias">
            <h5>Michael Milroy</h5>
            <ul>
                <li><a href="https://www.linkedin.com/in/mdmilroy/" target="_blank">LinkedIn</a></li>
                <li><a href="https://github.com/mdmilroy" target="_blank">GitHub</a></li>
                <li><a href="https://github.com/mdmilroy" target="_blank">Portfolio</a></li>
                <li><a href="https://github.com/mdmilroy" target="_blank">Resume</a></li>
            </ul>
        </div>
    </div>
    <div class="networkInfo" id="scroggins" style="display:inline-block">
        <img src="~/Assets/ScrogginsHeadshot.jpg" alt="Justin Scroggins" style="height: 20rem; width: 18rem; border: thin solid black;" />
        <div class="socialMedias">
            <h5>Justin Scroggins</h5>
            <ul>
                <li><a href="https://www.linkedin.com/" target="_blank">LinkedIn</a></li>
                <li><a href="https://github.com/" target="_blank">GitHub</a></li>
                <li><a href="https://github.com/" target="_blank">Portfolio</a></li>
                <li><a href="https://github.com/" target="_blank">Resume</a></li>
            </ul>
        </div>
    </div>
</body>