@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1 class="display-3">Welcome to DevWork!</h1>
    <p class="lead">Where employers apply for developers.</p>
    <hr class="my-4">
    <p>DevWork is completely free to join. Simply create an account as a developer or employer and begin using the service.</p>

</div>


<div class="row equalHeightColumns">
    <div class="col-md-4" style="min-height: 300px;">
        <div class="equalColumnContent">
            <h2 style="height: 96px;">Why DevWork</h2>
            <p style="min-height: 150px;">
                DevWork is completely free to use for developers and employers. We don't charge a fee like other
                services for you to post a job or to complete the work. We simply link the employer and developer together.
            </p>
        </div>
        <p><a class="btn btn-outline-dark" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <div class="equalColumnContent">
            <h2>Where jobs apply to you</h2>
            <p style="min-height: 150px;">
                DevWork is a place where jobs and recruiters apply to you. Create a profile or (coming-soon) login with
                your LinkedIn account to import your profile information to DevWork. Once you're registered, employers and
                recruiters can contact you.
            </p>
        </div>
        <p><a class="btn btn-outline-dark" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <div class="equalColumnContent">
            <h2>Are you a recruiter?</h2>
            <p style="min-height: 150px;">
                We will soon be releasing a recruiter usergroup. Recruiter accounts will include
                several additional features such as BCC messaging multiple freelancers at once.
            </p>
        </div>
        <p><a class="btn btn-outline-dark" href="#">Learn more &raquo;</a></p>
    </div>
</div>