@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Who We Are.</h2>
<h5>Here at Restaurant Rater we thrive on helping others navigate then overwhelming world of cuisine.</h5>
<p>It is a large world out there with endless options for satisfying any craving you may have. That should not me that you have to 
    settle for the closest, easiest, or cheapest location. Our goal here is to provide the platform for a revolutionary exchange of
    of first-hand experience at any and all dining establishments our friends visit.</p>


