<div class="jumbotron">
    <h1 class="display-3">Welcome to DevWork!</h1>
    <p class="lead">DevWork is a place for developers to find work and employers to find talented programmers to complete their projects.</p>
    <hr class="my-4">
    <p>DevWork is completely free to join. Simply create an account as a developer or employer and begin using the service.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Register</a>
    </p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Why DevWork</h2>
        <p>DevWork is completely free to use for developers and employers. We don't charge a fee like other
        services for you to post a job or to complete the work. We don't offer premium services. We simply
        link the employer and programmer together.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>
